<div class="field">
    <div class="heading"><label>Delete All</label></div>
</div>

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput("solrsearch/search/delete-all") }}
    <input type="submit" class="btn submit" value="Delete">
</form>


<div class="field">
    <div class="heading"><label>Update All</label></div>
</div>

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput("solrsearch/search/update-all") }}
    <input type="submit" class="btn submit" value="Update">
</form>
